<div class="app flexbox v_center between">
	<div class="leftBox flexbox">
		<div class="icon"><span class="iconfont">&#xe602;</span></div>
		<div class="intr flexbox v_center vertical">
			<span class="more">恒天金服</span>
			<span class="less">让财富管理更简单</span>
		</div>
	</div>
	<a class="rightBox flexbox v_center center" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.chtwm.mall&from=groupmessage">
		下载APP
	</a>
	<div class="close"><span class="iconfont">&#xe60c;</span></div>
</div>
<script>
	var down=document.getElementsByClassName('close')[0];
	down.addEventListener('click',function(){
		document.getElementsByClassName('app')[0].style.display="none";
	});
</script>