
<!-- 普通投资者/专业投资者 -->
<div class="elasticLayerFour">
	<div class="elasticWrapper">
		<div class="iconfont close">&#xe60c;</div>
		<section class="title">
            <div class="ttBox">
                <h1>请选择投资者类型</h1>
                <h3>为了更好的保护您的权益</h3>
            </div>
        </section>
        <section class="btnWrap">
            <div class="first">
                <a class="averageWrap">
                    <div class="iconfont ">&#xe695;</div>
                    <h3>我是普通投资者</h3>
                </a>
            </div>
            <div class="second">
                <a class="professionalWrap">
                    <div class="iconfont ">&#xe6a1;</div>
                    <h3>我是专业投资者</h3>
                </a>
            </div>
        </section>
        <section class="material">
            <a class="txt highlight" href="javascript:;" onclick="window.location.href=site_url.cashXml_url+'?id=23';">《普通投资者与专业投资者区别》
			</a>
        </section>
	</div>
</div>
