
/*列表样式 */
.listUl{

}

.listUl li{
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #7d7c7d;
	background: #fff;
}

.listUl li .title{
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	position: relative;
}

.listUl li .down{
	float: right;
}


/* 在以上基础上，添加可展开收起的列表样式 */

.listUl .detail{
	display: none;
    padding: 0 102px 20px 20px;
    width: 828px;
    line-height: 26px;
    background: #fff;
}
